<h3>New user? please sign up here</h3>

<%= form_for :user, url: '/users' do |f| %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign up" %>
<% end %>
