<h3>please sign in or create a new account</h3>


<div id="sign_up_form">
  <%= form_for :user, url: '/users' do |f| %>

    Email: <%= f.text_field :email %>
    Password: <%= f.password_field :password %>
    Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign up" %>

<% end %>

</div>

<div id="sign_in_form">

</div>
