<%= render partial: "partials/add_new_link" %>

<div class="links_list">
  <% @links.each do |link| %>
    <div class="link_item">
      <h3><%= link.title %></h3>
      <%= link_to link.url %>
      <div class="read-status">
        Read status: <%= link.read %>
      </div>
      <%= button_to "Mark as Read", edit_link_path(link) %>
      <%= link_to "Edit Link", edit_link_path(link) %>
    </div>
  <% end %>
</div>
