<%= render partial: "partials/add_new_link" %>

<div class="links_list">
  <% @links.each do |link| %>
  <%= render partial: "partials/read_link", locals: {link: link} %>
      <h3><%= link.title %></h3>
      <%= link_to link.url %>
        Read status: <%= content_tag :span, "#{link.read}", class: "read-status" %>
      <div class="link_controlls">
        <%= button_to "Mark as Read", edit_link_path(link), class: "mark-as-read"%>
        <%= link_to "Edit Link", edit_link_path(link) %>
      </div>
    </div>
  <% end %>
</div>
