<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="login_logout_bar">
    <% if current_user %>
      Signed in as <%= current_user.email %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
  <div class="flash_notices">
    <% flash.each do |type, message| %>
    <%= content_tag :div, message, class: "flash_#{type}" %>
    <% end %>
  </div>
  <div>
    <h3 id="brand">URL Lockbox</h3>
  </div>
  <%= yield %>
</div>

</body>
</html>
